<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="modal-body"></div> 
    </div>
  </div>
</div>

<div class="col-sm-2 col-md-3 col-lg-3">
	<div class="jumbotron">
		<br />
		<ul class="nav nav-pills nav-stacked">
	  		<li><a href="#" onclick="betsView()">Predicciones Pendientes</a></li>
	 		<li><a href="#" onclick="progressBetsView()">Predicciones en Curso</a></li>
	 		<li><a href="#" onclick="endBetsView()">Predicciones Finalizadas</a></li>
	 		<li><a href="#" onclick="challengeView()"><span id="pending" class="badge pull-right"></span>Desafios Pendientes</a></li>
	 		<li class="active"><a href="#" onclick="chlgPendingView()"><span id="requests" class="badge pull-right"></span>Solicitud de Desafios</a></li>
	 	</ul>
	</div>
</div>
<div class="col-sm-8 col-md-6 col-lg-6">
  <div class="jumbotron">
    <h2>Solicitudes de Desafios Pendientes</h2><br/>
    <div id="error"></div>
    <div id="container2" class="container2">
			
			<div class="panel-group" id="accordion">
			  <% for(i=0;i<this.length;i++){%>
			  <div class="panel panel-info">
			    <div class="panel-heading">
			      <div style="cursor:pointer" class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#<%=this[i].event_id%>">
			        <div class="row">
                    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    	<%if(this[i].event_type != 'N'){%>
			        		<img src="<%=this[i].url1%>"/>
			        	<%}%>
                    	<%=this[i].event_d%>
                    	<%if(this[i].event_type != 'N'){%>
			        		<img src="<%=this[i].url2%>"/>
			        	<%}%>
                    	</div>
                    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    		<%=this[i].off_dttm%>               		
                    	</div>
                    </div>
			        
			      </div>
			    </div>
			    <div id="<%=this[i].event_id%>" class="panel-collapse collapse">
			      <div class="panel-body">
			        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="row"><strong>Categoria:</strong></div>
						<div class="row"><strong>Subcategoria:</strong></div>
			        	<div class="row"><strong>Su Elecci&oacute;n:</strong></div>
			        	<div class="row"><strong>Valor:</strong></div>
			        	<%if(this[i].name != null && this[i].surname!=null){%>
			        		<div class="row"><strong>Desafio de:</strong></div>
			        	<%}%>
			        	<div class="row"><strong>Fecha:</strong></div>
			        	
			        </div>
			        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="row"><%=this[i].cat_descr%></div>
						<div class="row"><%=this[i].subcat_descr%></div>
			        	<div class="row"><%=this[i].selection%></div>
			        	<div class="row"><%=this[i].amount%> cr.</div>
			        	<%if(this[i].name!=null && this[i].surname!=null){%>
			        		<div class="row"><%=this[i].name%> <%=this[i].surname%></div>
			        	<%}%>
			        	<div class="row"><%=this[i].bet_dttm%></div>
			        </div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
			        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			        	<div class="row">
			        		<font style="cursor:pointer" color="red">
                    			<i id="aceptde<%=this[i].event_id%>u<%=this[i].id%>" onclick="rejectChlg('<%=this[i].event_id%>', '<%=this[i].id%>')" title="Rechazar Desafio" class="fa fa-times fa-lg pull-right"></i>
             				</font>
                    		<font style="cursor:pointer" color="green">
                    			<i data-toggle="modal" href="#" data-target="#myModal" id="rejectde<%=this[i].event_id%>u<%=this[i].id%>" onclick="aceptChlg('<%=this[i].event_id%>', '<%=this[i].id%>')" title="Aceptar Desafio" class="fa fa-check fa-lg pull-right"></i>
                    		</font>
                    	</div>
			        </div>
			      </div>
			    </div>
			  </div>
			  <%}%>
			  
			</div>   			
			</div>
        
  </div>
</div>

              
      
      
      
      
        
 