<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="modal-body"></div> 
    </div>
  </div>
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
<div class="col-sm-8 col-md-6 col-lg-6">
  <div class="jumbotron">
    <h2>Evento <small><%=this.event_d%></small></h2><br/>
    <div id="error"></div>
    <div class="container2">
			
			<div class="panel-group">
			  <div class="panel panel-info">
			    <div class="panel-heading">
			      <div class="panel-title" href="#<%=this.event_id%>">
			        <div class="row">
                    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    	<%if(this.event_type != 'N'){%>
			        		<img src="<%=this.url1%>"/>
			        	<%}%>
                    	<%=this.event_d%>
                    	<%if(this.event_type != 'N'){%>
			        		<img src="<%=this.url2%>"/>
			        	<%}%>
                    	</div>
                    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    		<%=this.off_dttm%>               		
                    	</div>
                    </div>
			        
			      </div>
			    </div>
			    <div id="<%=this.event_id%>" class="panel-body">
			      <div class="panel-body">
			        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="row"><strong>Categoria:</strong></div>
						<div class="row"><strong>Subcategoria:</strong></div>
			        	<%if(this.amount != null){%>
			        		<div class="row"><strong>Elecci&oacute;n:</strong></div>
			        		<div class="row"><strong>Valor:</strong></div>
			        		<div class="row"><strong>Paga:</strong></div>	
			        	<%}%>
			        	<%if(this.name != null && this.surname!=null){%>
			        		<div class="row"><strong>Desafio:</strong></div>
			        	<%}%>
			        	<%if(this.amount != null){%>
			        		<div class="row"><strong>Fecha:</strong></div>
			        	<%}%>
			        </div>
			        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="row"><%=this.cat_descr%></div>
						<div class="row"><%=this.subcat_descr%></div>
			        	<%if(this.amount != null){%>
				        	<div class="row"><%=this.selection%></div>
				        	<div class="row"><%=this.amount%> cr.</div>
				        	<%if(this.name != null && this.surname!=null){%>
				        		<div class="row">x 2.00</div>
				        	<%}else{%>
				        		<div class="row">x <%=this.odds%></div>
				        	<%}%>
				        	<div class="row"><%=this.win_status%></div>
			        	<%}%>
			        	<%if(this.name!=null && this.surname!=null){%>
			        		<div class="row"><%=this.name%> <%=this.surname%></div>
			        	<%}%>
			        	<%if(this.amount != null){%>
			        		<div class="row"><%=this.bet_dttm%></div>
			        	<%}%>
			        </div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
			        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			        	<div class="row">
			        		<%if(this.amount != null){%>
				        		<%if(this.name == null && this.surname==null){%>
				        		<font style="cursor:pointer" color="red">
	                    			<i onclick="cancelBet('<%=this.event_id%>')" title="Retirar Prediccion" class="fa fa-times fa-lg pull-right"></i>
	                    		</font>                    			
	                    		<font style="cursor:pointer" color="blue">
	                    			<i data-toggle="modal" href="#" data-target="#myModal" onclick="editBet('<%=this.event_id%>')" title="Modificar Prediccion" class="fa fa-pencil fa-lg pull-right"></i>
	                    		</font>
	                    		<%}else{%>
		                    		<font color="grey">
		                    			 <i style='cursor:pointer' title="Posee un desafio" class="fa fa-trophy fa-lg pull-right"></i>
		                    	    </font>
                    	 		<%}%>
                    		<%}else{%>
	                    		<font color="blue">
	                    			<i data-toggle="modal" href="#" data-target="#myModal" style="cursor:pointer" onclick="makeBet('<%=this.event_id%>')" title="Predecir" class="fa fa-usd fa-lg pull-right"></i>
	                    			<i data-toggle="modal" href="#" data-target="#myModal" style="cursor:pointer" onclick="makeChlg('<%=this.event_id%>')" title="Desafiar un amigo" class="fa fa-trophy fa-lg pull-right"></i>
	                    			<i data-toggle="modal" href="#" data-target="#myModal" style="cursor:pointer" onclick="sendBet('<%=this.event_id%>')" title="Compartir" class="fa fa-envelope-o fa-lg pull-right"></i>
	                    		</font>
                    		<%}%>
                    	</div>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>   			
			</div>
        
  </div>
</div>

              
      
      
      
      
        
 