<div class="container">

        <div class="row">
          <div class="col-lg-12">
            <21><%=this.category.cat_descr%> <small>Eventos</small></h2>
          </div>
        </div><!-- /.row -->
	<div class="row"><br/></div>
    <div class="row">
		<div class="col-lg-2"></div>
          <div class="col-lg-8">
            <!-- Nav tabs -->
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<!-- ESTE ES EL FOR DEL HEADER DEL TAB -->
					<% for(i=0;i<this.category.subcategories.length;i++){%>
						<% if(i==0){%>
				  		   <li class="active"><a href="#<%=this.category.subcategories[i].subcat_id%>" data-toggle="tab"><%=this.category.subcategories[i].subcat_descr%></a></li>
				  		<%}else{%>
				  		<li><a href="#<%=this.category.subcategories[i].subcat_id%>" data-toggle="tab"><%=this.category.subcategories[i].subcat_descr%></a></li>
				  	   <%}%>
			  	   <%}%>  <!-- CIERRE FOR DEL HEADER DEL TAB -->
			  	</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<!-- CONTENIDO DE LOS TABS -->
				  <% for(j=0;j<this.category.subcategories.length;j++){%>
				<div class="tab-pane <% if(j==0){%>active<%}%>" id="<%=this.category.subcategories[j].subcat_id%>">
					<!-- LISTA Y EVENTOS -->
					<div class="list-group">
			   <% for(k=0;k<this.category.subcategories[j].events.length;k++){%>
                                  	
                  	<a class="list-group-item">
					    <div class="row">
					    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					    	<% if(this.category.subcategories[j].events[k].event_type!='N'){%>
					    		<img src="<%=this.category.subcategories[j].events[k].url1%>"/>
					    	<%}%>
					    	<%=this.category.subcategories[j].events[k].event_d%>
					    	<% if(this.category.subcategories[j].events.event_type!='N'){%>
					    	<img src="<%=this.category.subcategories[j].events[k].url2%>"/>
					    	<%}%>
					    	</div>
					    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><%=this.category.subcategories[j].events[k].off_date%>
								
								<% if(this.category.subcategories[j].events[k].bet>0){%>
										<%if(this.category.subcategories[j].events[k].opp_user==0) {%>
										<font color="red">
							    			<i style='cursor:pointer' onclick="cancelBet('<%=this.category.subcategories[j].events[k].event_id%>')" 
							    				title="Retirar Apuesta" class="fa fa-times fa-lg pull-right"></i>
							    		</font>                    			
							    		<font color="blue">
							    			<i style='cursor:pointer' onclick="editBet('<%=this.category.subcategories[j].events[k].event_id%>')" 
							    				title="Modificar Apuesta" class="fa fa-pencil fa-lg pull-right"></i>
							    		</font>
							    		<%} else {%>
							    		<font color="grey">
                    			  			<i style='cursor:pointer' title="Posee un desafio" class="fa fa-trophy fa-lg pull-right"></i>
                    			        </font>
							    		<%}%>
								<%} else {%>
								<font color="blue">
                    			<i style='cursor:pointer' onclick="makeBet('<%=this.category.subcategories[j].events[k].event_id%>')" 
                    				title="Apostar" class="fa fa-usd fa-lg pull-right"></i>
                    			<i style='cursor:pointer' onclick="makeChlg('<%=this.category.subcategories[j].events[k].event_id%>')" 
                    				title="Desafiar un amigo" class="fa fa-trophy fa-lg pull-right"></i>
                    			<i style='cursor:pointer' onclick="sendBet('<%=this.category.subcategories[j].events[k].event_id%>')" 
                    			title="Compartir" class="fa fa-envelope-o fa-lg pull-right"></i>
                    		</font>
								<%}%>  
					    		</div>	
					    </div>
					  </a>          
                <%}%>
                	</div>
                	</div>
				 <%}%>	<!--Cierra for -->
				</div>	
         	</div>
		</div>
		</div>
      </div><!-- /.row -->

      </div>