<div class="text-center">		
	<h4><%=this.category%> - <%=this.subcategory%></h4>
	<p>
		<font size="4" color="orange"><%=this.result%></font> 	
	</p>
		<p><%=this.event%></p>
		<p><%=this.date%></p>
	
</div><br /><br />