<div class="text-center">		
	<h4><%=this.category%> - <%=this.subcategory%></h4>
	
	<p>
		<img src="<%=this.oponent1img%>"/> 
		<font size="4" color="orange"><%=this.score1%></font> <font size="4">-</font> <font color="orange" size="4"t><%=this.score2%></font> 	
		<img src="<%=this.oponent2img%>"/>
	</p>
	<p><%=this.event%></p>
	<p><%=this.date%></p>
</div><br /><br />

            