<div class="col-sm-1 col-md-2 col-lg-2">
	<div class="jumbotron">
		<br />
		<ul class="nav nav-pills nav-stacked">
	  		<li><a href="#" onclick="viewInbox()">Inbox</a></li>
	 		<li><a href="#" onclick="viewSent()">Enviados</a></li>
	 		<li class="active"><a href="#">Mensaje</a></li>
		</ul>
	</div>
</div>
<div class="col-sm-10 col-md-8 col-lg-8">
  <div class="jumbotron">
    <h2>Mensaje Enviado</h2>
    <div class="container2">
   		<div class="panel panel-info">
  			<div class="panel-heading">
    			<h3 class="panel-title">Asunto: <strong><%=this.subject%></strong></h3>
  			</div>
  			<div class="panel-body">
	    		<div class="col-sm-9 col-md-9 col-lg-9">
	    			<strong>Para: </strong><%=this.to%>	
				</div>
            	<div class="col-sm-3 col-md-3 col-lg-3">
            		<i class="fa fa-clock-o"></i> <%=this.date%>
            	</div>
	    		<hr>
	    		<%=this.body%>
  				<div class="col-sm-offset-2 col-md-offset-9 col-lg-offset-9 col-sm-10 col-md-3 col-lg-3">
	      			<button id="newMsgBot" class="btn btn-danger btn-block pull-right" onclick="deleteMessageSent('<%=this.id%>')">Borrar Mensaje</button>	
				</div>
  			</div>
			
		</div>
        
  </div>
 </div>
</div>
              
      
      
      
      
        
 